/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
	padding:0;
	margin:0;
}
html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{
	font-family:"droid";
	src:url("\\fonts\\web_fonts\\droidsans_regular_macroman\\DroidSans-webfont.ttf");
}
html{
	background:url('profile-f.jpg') no-repeat center center fixed;
	background-size:cover;
	font-family: 'droid',sans-serif;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
textarea{
	resize:none;
}
#header{
	background: -webkit-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -o-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -ms-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -moz-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: linear-gradient(113deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	width:100%;
	margin:2rem 0rem;
	padding:3rem 0rem;
	opacity:0.8;
}
.logo,.menu,.search{
	float:left;
}
.logo{
	width:25rem;
	margin-top:-2rem;
	margin-right:8rem;
	margin-left:5rem;
}
.logo img{
	width:100%;
}
.menu{
	font-size: 2rem;
  	margin-top:-1.25rem;
  	width:80rem;
  	float:left;
}
ul.menu-nav li{
	list-style-type: none;
	float:left;
	padding-left:2rem;
}
ul.menu-nav li.userInNav{
	margin-left: 10rem;
  	margin-top: -1.2rem;
}
ul.menu-nav li.userInNav img{
	width: 30%;
  	border-radius: 50%;
}
ul.menu-nav li a{
	color:black;
  	text-decoration:none;
}
ul.menu-nav li a:hover{
	color:red;
}
ul.menu-nav li .search{
	margin-top:-0.65rem;
	/*margin-left:1rem;*/
}
.searchBox{
	width:150%;
	height:3rem;
	color:#000;
	font-size:1rem;
	border: 3px solid #000;
    border-radius: 25px;
	text-align:center;
	padding:0 1rem;
}
.profilePic{
	margin: 2% 2% 5% 16%;
	width: 50%;
	margin:0 auto;
}
.profilePic img{
	width:140px;
	height:140px;
	border-radius:50%;
	display:block;
	margin:auto;
}
.profileContent{
	font-size:2rem;
}
.profileContent p{
	margin-bottom:2rem;
}
.tabs{
	/*width: 100%;  */
	top:10px;
	float: none;
	list-style: none;
	position: relative;
	margin: 20px 5px 5px 10px;
	text-align: left;
	box-sizing:border-box;
}
.tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
.tabs li{
    width:33%;
    float: left;
}
.tabs label{
	cursor: pointer;
  	display: block;
  	padding: 15px 20px;
  	font-weight: bold;
  	text-transform: uppercase;
    background: -webkit-linear-gradient(203deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -o-linear-gradient(203deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: linear-gradient(293deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
  	position: relative;
  	top: -10px;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.tabs label:hover{
	background: #666;
}
.tabs .tabContent{
	z-index: 2;
    display: none; 
    overflow: hidden;
    width: 99%;
    /*font-size: 17px;
    line-height: 25px;
    padding: 25px;  
    */position: absolute;
    top: 50px;
    left: 0; 
    background: #666;
}
/*.tabs input[type="radio"]:checked + label{
	top:0;
	padding-bottom:20px;
}*/
.tabs [id^="tab"]:checked + label { 
    /*top: 0;*/
    /*padding-top: 7px; */
    background: #666; 
  }
.tabs [id^="tab"]:checked ~ [id^="tabContent"] {
    display: block;
}
form.profileForm label.aboutMe{
	display: inline-block;
	width:40% !important;
}
form.profileForm input{
	margin-left: 0rem;
}
form.profileForm textarea{
	margin-top:-2rem;
	margin-left:15.8rem;
}

/* css for stats content */
.stats {
      position: relative;   
      min-height: 200px; /* This part sucks */
      clear: both;
      margin: 25px 0;      
    }
    .stat {   
       height: 41px; 
    }
    .stat label {
      background: #eee; 
      padding: 10px; 
      border: 1px solid #ccc; 
      margin-left: -1px; 
      position: relative;
      left: 1px;        
      width: 70px;
      display: block;
    }
    .stat [type=radio] {
      display: none;   
    }
    .content {
      position: absolute;
      top: 0px;
      left: 92px;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      border: 1px solid #ccc;       
    }
    [type=radio]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }
