html{
	background:url('questionDetailbg.jpg') no-repeat center center fixed;
	background-size:cover;/*font-family: 'capture',sans-serif;*/
	/*max-width: 1200px;
  	margin: 0 auto;
  	position: relative; /* Fix for absolute positioning */*/
  	max-width: 1800px;
  	margin: 0 auto;
  	position: relative;
}
.questions{
	display:block;
}
#submit{
	margin-left: 18rem;
	margin-top:1rem;
	width:28%;
	background: #3e9cbf; /*the colour of the button*/
	border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	/*style the text*/
	font-size:2.5rem;
	letter-spacing:.1rem;
	color: #fff;
	/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	/*give the corners a small curve*/
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.analyzeButton{
	position: relative;
  top: 13rem;
  left: 34rem;
  width:65%;
}

.gender{
	position: relative;
	left:50%;
}